.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 0px;
}

.rodape_light {
  background-color: #fff;
}

.rodape_dark {
  background-color: #252525;
}

.rodape_dark .copyright {
  border-top: 1px solid #ffffff0d;
}

.footer {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragrafo {
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 300;
  color: #8a8fa3;
  max-width: 600px;
  line-height: 32px;
  text-align: center;
  margin: 36px auto 42px;
}

.iconesRodape {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 375px;
  padding: 0px 10px;
  margin-bottom: 50px;
}

.iconesRodape img {
  width: 45px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #8a8fa3;
  padding: 20px 0px;
  text-align: center;
}

.copyright span {
  color: #fcc520;
}